.neck {
  display: table;
  width: 100%;
  background: brown; }

.string {
  display: table-row;
  height: 20px; }

.fret {
  display: table-cell;
  border-left: 3px solid grey; }

.fret:hover {
  background: rgba(33, 33, 33, 0.2); }
