html
  width:  100%
  height: 100%

body
  background: url('../img/wood3.png'),  url('../img/wood2.png'), url('../img/wood1.png')

.neck
  display: table

  width: 100%

  background: brown

.string
  display: table-row

  height: 30px

.fret
  display: table-cell

  border-left: 3px solid grey

.fret:hover
  background: rgba(33, 33, 33, 0.2)
