!!!
%html
  %head
    %title 6strin.gs
    %script{:src => './js/application.js', :type => 'text/javascript'}
    %script{:src => 'http://use.typekit.com/akn6ajq.js', :type => 'text/javascript'}
    :javascript
      try{Typekit.load();}catch(e){}
    %link{:rel  => 'stylesheet', :href => './css/application.css'}

  %body
    %header
      %h1 6strin<span>.</span>gs

    %section.neck
      .fret
      .fret
      .fret
      .fret
      .fret
      .fret

    %section.info
      %p This tech demo was written by Robert Böhnke

    %footer
