!!!
%html
  %head
    %title Karplus-Strong
    %script{:src => './js/application.js', :type => 'text/javascript'}
    %link{:rel  => 'stylesheet', :href => './css/application.css'}

  %body
    %h1 Karplus-Strong guitar

    .neck
      .string
      .string
      .string
      .string
      .string
      .string
